<html>
    <body>
        <form method="POST">
            {% csrf_token %}
            <table border="3" align ="center">
                <tr>
                    <td>Category</td>
                    <td><input type="text" name="cat" value="{{edit.category_name}}"></td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" name="txtsave" value="save">
                        <input type="reset" name="txtcancel" value="cancel">
                    </td>
                </tr>
            </table>
            <table border="3" align ="center">
                <tr>
                    <td>Sl No</td>
                    <td>Category</td>
                    <td>Action</td>
                </tr>
                {% for i in category %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.category_name}}</td>
                    <td><a href=  {% url 'webadmin:delcategory' i.id %}>Delete</a></td>
                    <td><a href=  {% url 'webadmin:editcategory' i.id %}>Edit</a></td>
                    
                </tr>
                {% endfor %}
            </table>

        </form>
    </body>
</html>