<html>
    <body>
        <form method="POST">
            {% csrf_token %}
            <table border="3" align="center">
                <tr>
                    <td>District</td>
                    <td><input type="text" name="dst" value="{{edit.district_name}}"></td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" value="save" name="txtsave">
                        <input type="reset" value="cancel" name="txtcancel">
                    </td>
                </tr>
                </table>
                <table align="center" border="3">
                <tr>
                    <td>Sl No</td>
                    <td>District</td>
                    <td>Action</td>
                </tr>
                {%for i in district%}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.district_name}}</td>
                    <td><a href=  {% url 'webadmin:deldistrict' i.id %}>Delete</a></td>
                    <td><a href=  {% url 'webadmin:editdistrict' i.id %}>Edit</a></td>
                </tr>
            {%endfor%}
            </table>
        </form>
    </body>
</html>